*{
    box-sizing: border-box;
}

#navBar, #logo, #title{
    border: solid 1px black;
}

 .container{
    display: grid;
    margin: 10px auto;
}

#navBar{
    height: 15%;
}

#logo{
    height: 150px;
    width: 50%;
    margin: 15px auto;
}

#title{
    text-align: center;
}
#animation{
    display: flexbox;
}
#logo, #title{
    animation-name: shrink;
    animation-duration: 2s;
}

@keyframes shrink{
    from{
        display: block;
    }
    to{
        display: flex;
        width: 50%;
        text-align: none;
        margin: 0px;
        font-size: large;
    }
}