
#box{
    margin: auto;
    width: 30%;
    padding: 10px;
}
#container{
    margin: auto;
    width: 30%;
    padding: 10px;
}

#p, input{
    margin: auto;
    padding-left: 20px;
    display: inline-block;
}

button{
    margin: 2px;
}

#square{
    margin: auto;
    width: 30%;
    min-height: 250px;
    max-height: 500px;
    border: solid 5px black;
    padding: auto;
    background-color: orange;
}